.team {
	border: 1px solid;
	border-radius: 8px;
	border-color: #7932bd;

	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.team h2 {
	color: white;

	background-color: #7932bd;

	border-bottom: 1px solid;
	border-color: #7932bd;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	
	margin: 0;
	padding-left: 10px;
}

.team p {
	padding-left: 10px;
}

.user-container {
    background-color: white;
    color: black;
}