@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: solid; /* 2 */
  border-color: theme("borderColor.DEFAULT", currentColor); /* 2 */
}

::before,
::after {
  --tw-content: "";
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: white;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}

#root {
	height: 100%;
	width: 100%;
	min-width: 350px;
	display: flex;
	flex-direction: column;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

button {
	min-width: 12vw;

	color: black;
	background-color: white;
	cursor: pointer;

	font-size: 1em;
	font-weight: 500;
	font-family: inherit;

	border: 1px solid transparent;
	border-radius: 8px;
	padding: 0.6em 1.2em;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}

h1 {
    font-size: 3em;
	font-weight: 500;
	font-family: inherit;
}