.input-container {
	height: 5vh;
	color: black;

	border: 1px solid;
	border-radius: 8px;
	border-color: #7932bd;

	margin-left: 10px;
	margin-right: 10px;

	text-align: center;
}

.input-container input {
	margin-left: 10px;
	margin-right: 10px;
}

.input-submit {
	background-color: #7932bd;
	color: white;
}